 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 125px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("/images/41903773800_946a594328_o1.jpg");
  background-position: 50% 50%;
  min-height: 738px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.u-section-1 .u-text-1 {
  font-size: 8.125rem;
  letter-spacing: 8px;
  line-height: 1;
  font-weight: 700;
  margin: 405px -549px 0 381px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 738px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  margin: 165px -159px 0 133px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 60px 211px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 637px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 0%;
    min-height: 699px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 252px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-1 .u-image-1 {
    min-height: 281px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    letter-spacing: 0px;
    width: auto;
    margin: 201px -142px -39px 142px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: -59px;
    margin-left: -29px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 23px;
    width: 89px;
    margin-top: -82px;
    margin-left: auto;
    margin-bottom: 59px;
  }
}
