 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 294px;
  height: 294px;
  margin: 293px auto 0 88px;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  margin: -252px 211px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 42px 16px 0 423px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 123px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 124px;
    height: 124px;
    margin-top: 193px;
    margin-left: -26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 156px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 19px;
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 31px;
    margin-left: 101px;
  }
}
